{% extends 'base/base.html' %}

{% block content %}
    <h2>Veiculos Cadastrados</h2>
    
        {% for veiculos in object_list %}
            <div id="my-div">        
                {% if veiculos.propietario == user %}
                    
                    {{ veiculos.veiculo }}<br>
                    {{ veiculos.placa }}<br>
                    {{ veiculos.Atualkm }}<br>
                    <a href="{% url '#' %}"><span class="material-icons-outlined">visibility</span>Mais dados dos Veiculo</a>
                
                {% endif %}    
            </div>    
        {% endfor %}
    
{% endblock %}