{% extends 'base/base.html' %}

{% block content %}   
{% load static %}
    <div class="base">
    
        <div id="coluna15e" class="coluna15">
        
        </div>
       
        <div id="coluna70" class="coluna70">

            <div id="adicionarVeiculo">
    
                <form action="" id="formAddVeiculo" method="POST">
                    
                    <div id="divTipoDeVeiculo">

                        <select name="tipoDeVeiculo" id="tipoDeVeiculo" class="selectbox" 
                        onchange="tipodeVeiculo(this)">
                        
                            <option selected value="0">Selecione o Tipo de veiculo</option>
                            <option value="1">Carro</option>
                            <option value="2">Moto</option>
                            <option value="3">Caminhão</option>
                            <option value="4">Conjuto Cavalo + Carreta</option>
                        
                        </select>
                    
                    </div>

                    <div id="divMarcaVeiculo">

                    </div>

                </form>
    
            </div> 

        </div>

        <div id="coluna15d" class="coluna15">

        </div>
    
    </div>

<script>
    function tipodeVeiculo(valor){

        if (valor.value==='1'){
            selectMontadoraVeiculo()
        }
    }

    function selectMontadoraVeiculo(){
        $.ajax({
            url: "{% static 'csv/veiculos/baseDeDados/marcas-carros.csv' %}",
            dataType: 'text',
        }).done(successFunction);

        function successFunction(data) {
            var allRows = data.split(/\r?\n|\r/);
            var select = "<select id='tipoDeVeiculo' class='selectbox' onchange='teste()'>"
            var divMarcaVeiculo = document.getElementById('divMarcaVeiculo');
            
            for (var singleRow = 0; singleRow < allRows.length; singleRow++) {
            var rowCells = allRows[singleRow].split(';');
            var cont = 0;

            for (var rowCell = 0; rowCell < rowCells.length; rowCell++) {
                if (singleRow ===0){
                    if(cont===0){
                        select += ('<option value=selecione>Selecione uma Marca</option>');
                        cont += 1;
                    }
                }
                else if (rowCell === 0){
                    select += ('<option value='+rowCells[rowCell]+'>');
                }else{
                    select += (rowCells[rowCell]+'</option>');
                }

            }
            
            } 
            select += '</select>';
            $(divMarcaVeiculo).append(select);
        }
    }

    function teste(){
        alert('deu certo')
    }
</script>
    
{% endblock %}
