{% extends 'base/base.html' %}

{% block content %}   
{% load static %}

        <form method="POST" >
            {% csrf_token %}
            {{ form.non_field_erros }}
            <div class="fieldWrapper">
                <input type="hidden" value="{{ user.get_username }}" name="user" >
            </div>
            <div class="fieldWrapper">
                {{ form.placa.erros }}
                <label class="forme" for="{{ form.placa.id_for_label }}">Placa:</label>
                {{ form.placa }}
            </div>
            <div class="fieldWrapper">
                {{ form.veiculo.erros }}
                <label class="forme1" for="{{ form.veiculo.id_for_label }}">Veiculo:</label>
                {{ form.veiculo }}
            </div>
            <div class="fieldWrapper">
                {{ form.Atualkm.erros }}
                <label class="forme2" for="{{ form.Atualkm.id_for_label }}">Km Atual:</label>
                {{ form.Atualkm }}
            </div>
            <div class="fieldWrapper">
                <input class="inbuton" type="submit" value="Salvar" style="font-family: 'New Tegomin', serif;">
            </div>
            <input type="button" onclick="carrega()" value="carrega" style="color: blue;">
            <br>
            
        </form>
    
<script>
    function carrega(){
        $.ajax({
            url: "{% static 'csv/veiculos/baseDeDados/marcas-carros.csv' %}",
            dataType: 'text',
        }).done(successFunction);

        function successFunction(data) {
            var allRows = data.split(/\r?\n|\r/);
            var select = '<select>'

            for (var singleRow = 0; singleRow < allRows.length; singleRow++) {
            var rowCells = allRows[singleRow].split(';');
            var cont = 0;

            for (var rowCell = 0; rowCell < rowCells.length; rowCell++) {
                if (singleRow ===0){
                    if(cont===0){
                        select += ('<option value=selecione>Selecione um Veiculo</option>');
                        cont += 1;
                    }
                }
                else if (rowCell === 0){
                    select += ('<option value='+rowCells[rowCell]+'>');
                }else{
                    select += (rowCells[rowCell]+'</option>');
                }

            }
            
            } 
            select += '</select>';
            $('body').append(select);
        }
    }
</script>
    
{% endblock %}
