{% extends 'base/base.html' %}
{% block title %}Faça o login{% endblock %}
{% block content %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap" rel="stylesheet">
    <div class="container">
        <h1>Faça o seu login</h1>
        <form  method="post" style="font-family: 'New Tegomin', serif; font-size: 1.8em;">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="inbuton2" type="submit" value="Login" style="font-family: 'New Tegomin', serif; font-size: 0.5em;">
        </form>
    </div>
{% endblock %}