{% extends 'base/base.html' %}
    {% block title %}Faça o login{% endblock %}
    
    {% block content %}
    
    {% load static %}
    
    <link rel="stylesheet" href="{% static 'css/form/login.css' %}">    
    
    
    <div class="container2">
        
        <div class="coluna40">
            
            <label class="labeltext"> A Plantafoma CGV é destinada à ajuda da gestão de gastos com veiculos, seja você Frotista
            ou Pessoa Física temos uma plantaforma completa para te auxiliar.
            Sempre atualizando e o Melhor totalmente de Graça!!!</label>

        </div>
        
        <div class="coluna10">

            

        </div>

        <div class="coluna40">
            <form  method="post" >
                {% csrf_token %}
                {{ form.as_table }}
                <input class="inbuton2" type="submit" value="Login">
            </form>
        </div>
    
    </div>
{% endblock %}