{% extends 'base/base.html' %}
    {% block title %}Recupere a Senha{% endblock %}
    {% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/form/resetEmail.css' %}">
   
    
    <div class="base">
        <div class="central">
    
            {% if validlink %}
                
                <p><label class="textLabel">Porfavor informe e confime sua nova senha.</label></p>
                <form action="" method="post">
                {% csrf_token %}
                    <table>
                        <tr>
                            <td>{{ form.new_password1.errors }}
                                <label class="textLabel" for="id_new_password1">nova senha:</label></td>
                            <td>{{ form.new_password1 }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.new_password2.errors }}
                                <label class="textLabel" for="id_new_password2">Confirme a Senha:</label></td>
                            <td>{{ form.new_password2 }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" class="btn" value="Change my password" /></td>
                        </tr>
                    </table>
                </form>
    
            {% else %}
            
                <h2>Nao conseguimos recuperar a Senha</h2>
                <p><label class="textLabel">O link utilizado nao existe ou ja foi usado.</label></p>
            
            {% endif %}

        </div>
    </div>
    
{% endblock %}