{% extends 'base/base.html' %}

    {% block title %}Recupere a Senha{% endblock %}
    {% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/form/resetEmail.css' %}">
    <div class="base">
      <div class="central">
        <form action="" method="post">
          {% csrf_token %}
          <label class="textLabel">Informe o seu e-mail</label>
          <br>
          {% if form.email.errors %}
            {{ form.email.errors }}
          {% endif %}
            <p>{{ form.email }}</p>
            <input type="submit" class="btn" value="Reset password">
        </form>
      </div>
    </div>


{% endblock %}